// font-family: 'Orbitron', sans-serif;
// font-family: 'Righteous', cursive;
// font-family: 'Lato', sans-serif;

.must-reads-section {
    padding: 40px 10px;

    .must-reads-title{
        color: #52267d;
        font-family: 'Righteous', cursive;
        font-size: 28px;
        font-weight: 400;
        text-align: center;
        margin: 0 0 50px 0;
    }

    .must-reads-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style: none;
        padding: 0;
        margin: 0;

        .must-reads-item {
            .look-like-a-card {
                display: flex;
                align-items: center;
                justify-content: center;
                width: fit-content;
                height: 300px;
                cursor: pointer;
                padding: 0 20px;
                margin: 0 auto;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
                background-color: #ffffff;
                transition: all .3s ease;

                .must-reads-item-image {
                    width: 95%;
                    transition: all .3s ease;
                }

                &:hover {
                    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);

                    .must-reads-item-image {
                        width: 100%;
                    }   
                }
            }

            .must-reads-item-title {
                color: #52267d;
                font-family: 'Righteous', cursive;
                font-size: 18px;
                font-weight: 400;
                margin: 20px 0 0 0;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .must-reads-section {
        padding: 20px 10px;

        .must-reads-title{
            margin: 0 0 30px 0;
        }
    
        .must-reads-list {
            grid-template-columns: 1fr;

            .must-reads-item {
                margin-bottom: 15px;

                &:last-child{
                    margin-bottom: 0;
                }

                .look-like-a-card {
                    height: 200px;
                }
            }
        }
    }
}