// font-family: 'Orbitron', sans-serif;
// font-family: 'Righteous', cursive;
// font-family: 'Lato', sans-serif;

.main-content {    
    width: 100%;
    background-color: #ffffff;

    .container-first-section {    
        width: 100%;
    }

    .container-second-section {  
        width: 100%;
        background-color: #ebeaf6;
        border-bottom: 2px solid rgba(112, 112, 112, 0.4);

        .second-section {
            padding: 0 10px;
            
            .cards-list {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;  
                grid-column-gap: 35px;              
                width: 100%;
                list-style: none;
                margin: 0;
                padding: 0;

                .cards-item {
                    margin: 25px 0;
                }
            }
        }
    }

    .container-third-secion {
        width: 100%;
    }
}

@media only screen and (max-width: 785px) {
    .main-content {  
    
        .container-second-section {  
    
            .second-section {
                padding: 10px;
                
                .cards-list {
                    grid-template-columns: 1fr;  
                    grid-gap: 10px; 
    
                    .cards-item {
                        margin: 15px 0;
                    }
                }
            }
        }
    }
}