@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500');

html{
   font-family: 'Dosis', sans-serif;
}

.wrapper{
    font-size: 2rem;
}

h1{
    font-size: 3rem;
}

p{
    font-size: 1.888rem;  
}

.icon{
    font-size: 40px;
    color: rosybrown;
}

@media screen and ( max-width: 768px ){
    html{
        font-size: 16px;
    }
} 