/***
*
*FEATURES VARIABLE
*
***/

$features-bg: #fff;

/***
*
*TESTIMONIALS VARIABLE
*
***/

$testimonial-bg: #53354a;


/***
*
* FOOTER VARIABLES
*
***/

$top-footer-bg: #3a3e64;

$bottom-footer-bg: #313454;

$page-btn-bg: #e84545;

