.download{
    text-align: center;
    padding: 100px 0;
}

    .download__title{
        font-weight: 300;
        font-size: 1.75rem;
        margin: 0;
    }

    .download__desc{
        font-weight: 700;
        font-size: 0.8125rem;
        margin: 15px 0 0 0;
        text-transform: uppercase;
    }

    .download-btn{
        margin: 35px 0 0 0;
        padding: 15px 70px;
    }