
@mixin container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (max-width:1210px){
        width: 970px;

    }

    @media screen and (max-width:992px){
        width: 750px;
    }

    @media screen and (max-width:768px){
        width: auto;
    }
}

@mixin size ($font){
    font-size: $font;
    line-height: $font + 2px;
}

@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}